/*Login*/
.Login-form-wrapper {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
  .Login-form-wrapper .title {
    margin-bottom: 1.5em;
  }
  .Login-form-wrapper h1 {
    margin-top: 2em;
    font-size: 1.7em;
    font-weight: bold;
  }
  .Login-form-wrapper h1 span {
    font-weight: bolder;
    color: rgba(41, 117, 45, 1);
  } 
  .Login-form-wrapper p {
    font-size: .9em;
    color: #777;
  }
  
  #Login-form input:not([type="submit"]) {
    margin: 1em 0;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    padding: 0.7em;
    height: 1.5;
    width: 60%;
    font-size: .8em;
    font-style: italic;
    color: #999;
  }

  #Login-form #submit{
    margin: 3em auto;
    width: 60%;
  }
  #Login-form input[type="submit"] {
    cursor: pointer;
    width: 35%;
    height: 3.5em;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1px;
    border: 2px solid #ccc;
    border-radius: 2em;
  }

  #Login-form input[type="submit"]:hover{

    background-color: rgba(41, 117, 45, .9);
    color: #fff
  }

  
  #Login-form input:not([type="submit"]):focus{
    border: .5px solid #ccc;
    border-bottom: 5px solid #29752D;
       
  }

  #Login-form a{
    display: block;
    margin: 1em 0;
    color: gray;
  }

  @media only screen and (max-width: 991px) {

    #Login-form input:not([type="submit"]){
        width: 100%;
    }
    #Login-form #submit{
        margin: 3em auto;
        width: 50%;
      }
    #Login-form input[type="submit"] {
        cursor: pointer;
        width: 90%;
    }
  }




  /*Register*/
#Register {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    
  }
  #Register .container{
    margin-top: 2em;
    padding: 3em 1em 2em 2em ;
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 0.7em 0.7em 0.5em #888888;
    border-radius: 2em;
  }

  #Register .container h1{
    color: rgba(41, 117, 45, .6);
  }
  #Register .container p{
    color: #999;
    font-style: italic;
    margin-bottom: 3em;
  }


  #Register input[type=text], #Register input[type=password] {
  width: 90%;
  padding: 1.1em;
  margin: 1.1em 0 2em 0;
  display: block;
  border: none;
  background: #fff;
  border-bottom: 1px solid #ccc;

}

#Register select {
  outline: none;
  width: 18%;
  padding: 1.1em;
  margin: .5em 0 2em 0;
  display: inline-block;
  border: none;
  background: rgba(41, 117, 45, .05);
}

#Register input[type=phone] {
  width: 72%;
  padding: 1.1em;
  margin: .5em 0 2em 0;
  display: inline-block;
  border: none;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

#Register input:not([type="radio"]):focus {
    box-shadow: 5px 5px 5px #888888;
  outline: none;
}

#Register .gender{
    margin: 1em 0 2em 0;
}
#Register .gender label{
    color: #999;
    font-style: italic;
    
}
#Register .gender #female{
    margin-left: 2em;
}
/* Set a style for all buttons */
#Register button {
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(41, 117, 45, .7);
    color: white;
    padding: 1em 1.2em;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    font-size:16px;
	border-radius:10px;
}

#Register button:hover {
    opacity:1;
}


/* Change styles for signup button on extra small screens */
@media screen and (max-width: 600px) {
    #Register .signupbtn {
     width: 100%;
  }
  #Register {width: 90%;}
  #Register .container{width: 100%;}
}

