*{
    font-family: 'Trebuchet MS', sans-serif;
}

#stocksPage-1{
    width: 95%;
    display: table;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 35em;
    border-radius: 1em;
    border: 1px solid #ccc;
}
#stocksPage-1 h1{
    
    color: grey;
}
#stocksPage-1 p{
    font-style: italic;
    font-size: 1..1em;
    color:dimgray;

}

#stocksPage-1 img{
    float: left;
    margin: 2em 1.1em;
    width: 20%;
    
    
    

}
#stocksPage-1 .container {
    position: absolute;
    top: 30%;
}
#stocksPage-1 .article{
    margin: 1.5em;
    padding: 3em;
    display: inline-block;
    background-color:#F1E3D9;
    border-radius: 1em;
    overflow: hidden;
}

@media only screen and (max-width: 991px) {
    #stocksPage-1 .container {
    top: 15%;
}
    #stocksPage-1 img{
        width: 30%;
        float:inherit;
        margin: 0 1em;
    }
    #stocksPage-1 img, .article{
        display: table;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }

}   