*{

    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hot-line{

    background-color: #29752D;
    width: 100%;
}

.hot-line .content1{

    padding: 0.1em;
    text-align: center;
}
.hot-line h4{
    font-style: italic;
    display: inline;
    padding: 2px;
    color: #ccc;
}


nav{
    width: 100%;
    height: 6em;
    background-color:rgba(41, 117, 45, .025);
}
nav #logo{
    opacity: 90%;
    float:left;
    display: inline;
    height: 100px;
   
}
nav #logo img{
    width: 100%;
    height: 100%;
}

nav ul{
    float: right;
    opacity: 98%;
    padding: 3em 0;
    
}

nav .active{
    font-weight: bold;
    color: #29752D;
    padding-bottom: .5em;
    border-bottom: 2px solid #29752D;
}

nav ul li{

    list-style: none;
    display: inline;
    margin: 0 2em;

}

nav .fa-solid{

    float: right;
    font-size: 2em;
    margin: .7em;
    cursor: pointer;
}


nav ul li a{
    color: #000;
    text-decoration: none;
}
nav ul li a:hover{

    color: #29752D;
 
 }

 nav ul li:nth-last-child(1), li:nth-last-child(2){

    margin: 2em .8em;

 }
nav ul li:nth-last-child(1) a, li:nth-last-child(2) a{
    padding: .7em 1.5em;
    text-align: center;
    color: #fff;
    background-color: #29752D;
    border-radius: 2em;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    border: 1px  solid #9999;
}

nav ul li:nth-last-child(2) a{
    background-color: rgba(41, 117, 45, 0);
    color: #000;
}

nav ul li:nth-last-child(1) a:hover, li:nth-last-child(2) a:hover{

    color: #000;
    background-color: rgba(41, 117, 45, 0);
    border: 1px  solid #999;
 
 }
 nav ul li:nth-last-child(2) a:hover{
    background-color: rgba(41, 117, 45, 1);
    color: #fff;
}


/*Slide Show*/
#Slide .mySlides{height: 30em;}
#Slide .colored{
    border-radius: 1em;
    width: 100%;
    height: 100%;
    background-color:rgba(41, 117, 50, .3);
    position: absolute;
}
#Slide .prev, #Slide .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1em;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0 1em 1em 0;
    user-select: none;
  }
  

  #Slide .next {
    right: 0;
    border-radius: 1em 0 0 1em;
  }
  
  #Slide .prev:hover,  #Slide .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
 #Slide .text {
    color: #f2f2f2;
    font-size: 0.9em;
    position: absolute;
    top: 30%;
    left: 6em;
    display: none;
    
  }
 
  
 #Slide .text h1 {
    text-align: left;
    text-transform: uppercase;
    color:#fff
  }
  
 #Slide .text p {
   
    line-height: 2em;
    color :#ccc;
    letter-spacing: 0.2em;
  }
 
  
#Slide img {vertical-align: middle; height: 100%; border-radius: 1em;}

/* Slideshow container */
#Slide .slideshow-container {
  max-width: 97%;
  position: relative;
  margin: auto;
}


/*Hot Stocks*/
#Hot-stocks{
    position: relative;
}
#Hot-stocks .exit_frame{
    display: none; 
    position: absolute; 
    left: 50%;
    top: 0;
    cursor: pointer;
    color: gray;
    }

#Hot-stocks .container{
    width: 85%;
    display: table;
    margin-right: auto;
    margin-left: auto;
}
#Hot-stocks .container h1{
    text-align: center;
    color: grey;
    font-style: italic;
}

#Hot-stocks .cards{
    width: 18.9em;
    height: 18.9em;
    border-radius: 1.5em;
    border: 1px solid #ccc;
    background-color:rgba(41, 117, 45, .02);
    text-align: center;
    display: inline-block;
    margin: 1em 1em 0 0;
    

}

#Hot-stocks .cards .article{

    background-color:rgba(41, 117, 45, .05);
    height: 48%;
    margin: 0 .5em;
    border-radius: 1em;
    overflow: hidden;
}
#Hot-stocks .cards .article p{

    color: rgba(128, 128, 128, .6);
    line-height: 1.5em;
    font-style: italic;
}
#Hot-stocks .cards .article h3{

    color: rgba(128, 128, 128, 1);
    font-weight: bold;
}

#Hot-stocks .cards img{
    width: 60%;
    height: 35%;
    margin: 1.2em 0 1.1em 0;

}

/*Footer*/

footer{
	background-color: #292c2f;
	width: 100%;
	text-align: left;
	font: bold 1em sans-serif;
	padding: 4em 3em;
	margin-top: 3em;
}
 
footer .footer-left,
footer .footer-center,
footer .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
footer .footer-left{
	width: 40%;
}
 
footer h3{
	color:  rgba(41, 117, 45, 1);
	font: normal 2em 'Cookie', cursive;
    font-weight: bold;
	margin: 0;
}
 
footer h3 span{
	color:  #fff
}
 
 
footer .footer-links{
	color:  #ffffff;
	margin: 1em 0 1em;
	padding: 0;
}
 
footer .footer-links a{
	display:inline-block;
    margin: 1em 0 0 .5em;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

footer .footer-links a:nth-last-child(1){
    border: .01em solid rgba(128, 128, 128, .3);
   border-radius: 10px;
   padding: 4px;
    font-weight: bolder;
}
footer .footer-links a:nth-last-child(1):hover{

    background-color: rgba(41, 117, 45, .5);

}
 
 
footer .footer-center{
	width: 35%;
}
 
footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 1.2em;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	text-align: center;
	line-height: 2em;
	margin: .7em .5em;
	vertical-align: middle;
}
 
footer .footer-center i.fa-envelope{
	font-size: 1.2em;
	line-height: 2em;
}
 
footer .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:1em;
	line-height:2;
}
 
footer .footer-center p a{
	color:  rgba(41, 117, 45, 1);
	text-decoration: none;;
}
 
footer .footer-right{
	width: 20%;
}
 
footer .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}
 
footer .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}
 
footer .footer-icons{
	margin-top: 1.8em;
}
 
footer .footer-icons a{
	display: inline-block;
	width: 2em;
	height: 2em;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 1em;
	color: #ffffff;
	text-align: center;
	line-height: 2em;
	margin-right: 3px;
	margin-bottom: 5px;
}
 
footer .copyright{
    text-align: center;
    margin-top: 3em;
    color: #fff;

}
footer .copyright hr{
    margin-bottom: 3em;
    border: .5px solid gray;
}
footer .copyright p span{

    color: rgba(41, 117, 45, 1);
    font-weight: bolder;
}
iframe{
    height: 38em;
    width: 100%;
    border: 0;
    display: none;
}


 /*Media Query*/
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    nav ul{
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 6em;
        background-color: rgba(255, 255, 255, 1);
        z-index: 999;
    
    }
    
    nav ul li{
        text-align: center ;
        display: block;
    }
    

    /*Hot Stocks*/
    #Hot-stocks .container{
        width: 60%;
    }
    

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


    nav ul{
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 6em;
        background-color: rgba(255, 255, 255, 1);
        z-index: 999;
    
    }
    
    nav ul li{
        padding: 0 0 10px 0;
        text-align: center ;
        display: block;
    }

     /*Hot Stocks*/
     #Hot-stocks .container{
        width: 60%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

 
    nav ul{
        display: none;
        position: absolute;
        margin-top: 6em;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        z-index: 999;
        
    
    }
    nav ul li{
        padding: 0 0 10px 0;
        display: block;
        text-align: center;
    }

    /*Hot Stocks*/
    #Hot-stocks .container{
        width: 0%;
    }
  
   

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    nav ul{
        display: block !important;
        position: relative;
        margin: 1rem;
        width: auto;
        float: right;
        opacity: 90%;
        padding: 1.5em 0;
        background-color: transparent;
    }

    nav ul li{
        display: inline;
    }

    nav .fa-solid{
        display: none;
    }
    #Slide .text{display: block;}

    #Hot-stocks .container{
        width: 85%;
    }
   

}

@media only screen and (max-width: 991px) {
nav ul li:nth-last-child(1n+3){
        padding-bottom: 3em;
}

footer{
    font: bold 14px sans-serif;
}

footer .footer-left,
footer .footer-center,
footer .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 2em;
    text-align: center;
}


footer .footer-center i{
    margin-left: 0;
}

#Hot-stocks .container{
    width: 0;
}

}
